.add-product_form {

    border: 1px solid grey;
    background-color: #688080;
    margin: 15px auto;
    padding: 5px;
    width: 600px;
    text-align: center;
    display: flex;
    justify-content: space-around
}